/Lab_3/Lab3Skleton/build/
/Lab_3/Lab3Skleton/nbproject/private/
/Lab_3/Lab3Skleton/dist/
/Assignment4/build/
/Lab4Skleton/Lab4Skleton/Lab4Skleton/build/
/Lab4Skleton/Lab4Skleton/Lab4Skleton/nbproject/private/